
<div class="row justify-content-center">
  <h1>About Us </h1>
</div>
<hr>
<div class="container">
  <div class="row abouthover shadow">
                          <div class="col-5 w-100">
                                <!-- img/web_design.png -->
                                <a href="https://anviam.com/web-development " class="img-box img-box2">
                                    <img src="/assets/download.jpeg" alt="Custom Web Development" class="img-fluid w-100 ">
                                </a>
                               </div>
                                <div class="col-7 w-100 bg-white pt-4">
                                    <h2><a class="anchor-style2" href="https://anviam.com/web-development">Custom Web Development</a></h2>

                                    <p>
                                        Java App/Web Development , Ruby on Rails , Angular js , Node js/MongoDB , Scala , Open Source Development , Internet Of Things , SAAS Applications
                                    </p>
                                </div>
     </div>
     <hr>
     <div class="row abouthover shadow">
                          <div class="col-5">
                                <!-- img/web_design.png -->
                                <a href="https://anviam.com/mobile-apps-development " class="img-box img-box2">
                                    <img src="/assets/download (1).jpeg" alt="Custom Web Development" style="" class="img-fluid w-100">
                                </a>
                             </div>
                                <div class="col-7 bg-white pt-4">
                                    <h2><a class="anchor-style2" href="https://anviam.com/mobile-apps-development">Mobile App Development</a></h2>

                                    <p>
                                       Native & Hybrid App Development , iPhone App Development , Android App Development , Window App Development , Enterprise Mobility Services , App Migration/Upgradation , Mobile Game Development
                                    </p>
                                </div>
     </div>
     <hr>

     <div class="row abouthover shadow">
                          <div class="col-5 w-100">
                                <!-- img/web_design.png -->
                                <a href="https://anviam.com/data-science" class="img-box img-box2">
                                    <img src="/assets/download.png" alt="Custom Web Development" style="" class="img-fluid w-100">
                                </a>
                               </div>
                                <div class="col-7 w-100 bg-white pt-4">
                                    <h2><a class="anchor-style2" href="https://anviam.com/data-science" >Cloud Computing & Data Science</a></h2>

                                    <p>
                          Amazon Web Services , EC2 , RDS , Lambda , S3 Bucket , Google Cloud ,Digital Ocean , Machine Learning , Big Data , Data Mining , Data Analysis , Extraction Transformation Load , Hadoop , Spark Server
                                    </p>
                                </div>
     </div>
     <hr>

     <div class="row abouthover shadow">
                          <div class="col-5 w-100">
                                <!-- img/web_design.png -->
                                <a href="https://anviam.com/customer-relationship-management " class="img-box img-box2">
                                    <img src="/assets/download (2).jpeg" alt="Custom Web Development" style="" class="img-fluid w-100">
                                </a>
                               </div>
                                <div class="col-7 w-100 bg-white pt-4">
                                    <h2><a class="anchor-style2" href="https://anviam.com/customer-relationship-management" >ERP/CRM Development</a></h2>

                                    <p>
                                        Accounting Platform Development , HR Solutions Development , Payroll Development, Zoho/Salesfore CRM , Point Of Sale System Developement , Corporate CRM/ERP System Development
                                    </p>
                                </div>
     </div>
</div>