
<div class="container">
  <div class="text">
  <h1>Anviam Solutions </h1>
  <hr>
  <p>Anviam solutions is a software and web development company. We here at Anviam, provide customized solutions for many industries like Field delivery, Field Service, Security, Online Commerce, Hospitality, Real-estate, Media Management, and many more.</p>
  <hr>
   <h3>PlaneLists.com(Leading Edge Group, LLC) - Aviation Files</h3>
            <p>Designed by and for aviation professionals; PlaneLists.com can provide you the most accurate and up to date aviation mailing lists, comprehensive research and custom queries to help you with your marketing needs. Our database is updated daily to ensure that you have the most accurate and profitable information available.</p>
            <p>Our customizable search function will search US Aircraft Owners, pilots, A&P, drone operators and other aviation professionals and businesses. For marketing needs, you can query based on a variety of needs and create a powerful and effective marketing tool.</p>
            <p>Our aircraft and industry activity report will provide you with an enhanced and global perspective the current aviation market and trends.</p>
            <p>At PlaneLists.com, we can also offer a full in-house solution for your mailing list services. From printed mailing labels, postcards or multifaceted queries. Our powerful Amazon Based Web Server can handle the most comprehensive as well as custom queries. Call us today with your specific needs; and we will create marketing program for you.</p>
  <hr>
  <h1> Our Team </h1>
  <p> Our team consists of experienced professionals who are working passionately towards the goal of delivering the best solutions. We are the partner you can count on for results-driven digital products and platforms. We're consulting, designing, and developing your business for tomorrow's success today. </p>
  </div>
  <hr>
  <h5> Anviam Work </h5>
  <p>  Our team consists of experienced professionals who are working passionately towards the goal of delivering the best solutions. We are the partner you can count on for results-driven digital products and platforms. We're consulting, designing, and developing your business for tomorrow's success today. </p>
</div>