<div class="container">
  <div class="subscription">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>Select Subscription Plan</h1>
      </div>
    </div>
    <div class="row mt-5 pt-5">
     <% @subs.each do |f| %>

      <div class="col-md-4 mb-4">
        <div class="card card_style" >
          <div class="card-body text-center ">
            <div class="row">
              <div class="col-12">
                <h3 class="font-weight-bold">MONTHLY(Basic)</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h2 class="mb-0 font-weight-bold"> <%= f.plan_name %> month</h2>

                <h2 class="font-weight-bold"><%= f.price %></h2>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <p>Unlimited Downloads</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="card-text">Price is per month. Your account will be charged each month on the day of purchased until cancelled.</p>
              </div>
            </div>
            <div class="row mt-5" style="padding:33px;">
              <div class="col-12">
                <%= link_to "Join and Subscribe", new_user_registration_path, :class => 'navbar-link btn btn-warning w-100'%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      
      
  	</div>
  </div>
  
</div>